* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#form-login {
  width: 300px;
  height: 200px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

#form-wallet {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#img-carteira {
  width: 80px; 
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
